.back {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.back:hover {
    opacity: 0.9;
}

.image-container {
    position: relative;
}

.image-container p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #151515;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
}
