footer {
    background-color: #151515;
    color: white;
    padding: 0.2% 0;
    font-family: Prompt;;
    font-size: 0.9rem;
    font-weight: 600;
}
img {
    width: 110px;
    height: auto;
    margin-top: 5%;
}
.text{
    font-weight: lighter;
}
#emailInput{
    border-radius: 0%;
    width: 200%;
    height: 45px;
    border: 1px solid white;
    background-color: transparent;
    margin-bottom: 5%;
    color: rgb(185, 185, 185);
}
.heading{
    font-size: 1rem;
    margin-top: 4%;
}
#emailInput::placeholder{
    color: rgb(185, 185, 185);
}
#copyRights{
    font-size: 0.8rem;
    color: rgb(175,175,175);
    font-weight: lighter;
    padding-top: 2%;
}

@media (max-width: 768px) {
    #emailInput {
        width: 180%;
    }
}

@media (max-width: 450px) {
    #emailInput {
        width: 150%;
    }
}