footer {
    background-color: black;
    color: white;
    padding: 25px 0;
    font-family: Prompt;;
    font-size: 0.9rem;
    font-weight: 600;
}
img {
    width: 120px;
    height: auto;
}
.text{
    font-size: 0.85rem;
    font-weight: lighter;
}
#emailInput{
    border-radius: 0%;
    width: 180%;
    border: 1px solid white;
    background-color: transparent;
}
.heading{
    font-size: 1rem;
    margin-top: 4%;
}