footer {
    background-color: #151515;
    color: white;
    padding: 25px 0;
    font-family: Prompt;;
    font-size: 0.9rem;
    font-weight: 600;
}
img {
    width: 120px;
    height: auto;
}
.text{
    font-size: 0.85rem;
    font-weight: lighter;
}
#emailInput{
    border-radius: 0%;
    width: 200%;
    height: 45px;
    border: 1px solid white;
    background-color: transparent;
    margin-bottom: 5%;
}
.heading{
    font-size: 1rem;
    margin-top: 4%;
}
#emailInput::placeholder{
    color: rgb(185, 185, 185);
}

@media (max-width: 600px) {
    #emailInput {
        width: 175%;
    }
}