.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand span {
  letter-spacing: 2px;
}

.nav-link {
  position: relative;
  padding-bottom: 5px;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(209, 209, 209);
  transition: width 0.4s ease-out;
}

.nav-link:hover:after {
  width: 100%;
}
.text-color {
  color: #151515;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}