.card-body {
    font-family: Prompt;
  }
  .card-text {
    line-height: 1.5;
  }
  select.form-select {
    margin-bottom: 1rem;
  }
  .btnSelect{
    border-radius: 0%;
  }

  .btnAdd{
    font-size: 0.9rem;
    width: 100%;
    height:40px;
    background-color: #151515;
    color: white;
    border-radius: 0%;
  }