#add-to-cart-button{
    border-radius: 0%;
    background-color: #151515;
    color: white;
    margin-top: 5%;
    font-size: 0.8rem;
  }

#add-to-cart-button:hover{
    border: 1px solid #151515;
    background-color: rgb(255, 255, 255);
    color: #151515;
    font-weight: 600;
  }
  
#button-line{
  border-radius: 0%;
  margin-right: 5px;
  font-size: 80%;
}

.my-font {
  font-size: 0.9rem;
  font-weight: 600;

}

.auth{
  font-family: 'Prompt';
}

.my-card-img {
  margin-top: 0;
  padding-top: 0;
  object-fit: cover;
  height: 18rem;
  border-radius: 0%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.my-card-img:hover {
  transform: scale(1.1);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.my-card-img-overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(475%);
  transition: opacity 0.3s ease, transform 0.5s ease;
  background-color: #151515;
  height: 50px;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 0%;
  cursor: pointer;
}

.image-wrapper:hover .my-card-img-overlay-text {
  opacity: 1;
  transform: translateY(100);
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2em;
  color: #151515;
  transition: color 0.3s ease;
  border-radius: 100%;
  border: #151515 solid 2px;
  background-color: #ffffff;
  padding: 5px;
}

.heart-icon:hover {
  color: #ffffff;
  background-color: #151515;
  cursor: pointer;
}